aioconsole
aiofiles
appdirs
art
azure-cognitiveservices-speech
azure-core
azure-identity
azure-ai-contentsafety
azure-ai-ml
azure-storage-blob
confusables
confusable-homoglyphs
datasets
duckdb
duckdb-engine
fpdf2
httpx[http2]
jupyter
jinja2
ipykernel
numpy
openai
pillow
pydantic
pyodbc
pycountry
python-dotenv
pypdf
segno
scikit-learn
scipy
SQLAlchemy
sqlalchemy-stubs
termcolor
tenacity
tqdm
transformers
treelib
types-requests
websockets
pandas>=1.5.0
matplotlib>=3.5.0
seaborn>=0.11.0
numpy>=1.21.0